.box{
    background:#fff;
    margin: 30px auto;
    border: 1px solid #f1f1f1;  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    padding: 10px;
}

.tab{
    margin: auto;
}
.formInput{
    width: 100%;
    height: 45px;
    margin: 10px 0;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid #f1f1f1;
    background: #fff;
    color: #38526d;
}
.formInput:focus{
    outline: none;
}
input:-internal-autofill-selected{
    background: #011247;
    color: #fff
} 
.tabcontent{
    padding: 20px;
}
.submitButton{
    width: 50%;
    height: 45px;
    margin: 10px 0 0 25%;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid #ced4da;
    color: #fff;
    background: #00ccb1;
}