<div class="home">
    <div class="banner">
        <div class="text">
            <h2>N2C</h2>
            <div>N2C is a platform for corporate ang NGOs to work together. </div>
        </div>
    </div>
    <div class="container">
        <h2>OUR FEATURES</h2>
        <div class="items row">
            <div class="col-4">
                <div class="cards">
                    <div class="icon"><i class="fa fa-industry fa-10x" aria-hidden="true"></i></div>
                    <div class="icontext">
                        <div class="headder">CORPORATES</div>
                        <div class="bdy">Corportaes Corportaes Corportaes Corportaes Corportaes Corportaes Corportaes </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="cards">
                    <div class="icon"><i class="fa fa-users" aria-hidden="true"></i></div>
                    <div class="icontext">
                        <div class="headder">NGOs</div>
                        <div class="bdy">Ngo Ngo Ngo Ngo Ngo Ngo Ngo Ngo Ngo Ngo Ngo Ngo Ngo Ngo Ngo Ngo Ngo Ngo Ngo Ngo Ngo Ngo Ngo </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="cards">
                    <div class="icon"><i class="fa fa-user" aria-hidden="true"></i></div>
                    <div class="icontext">
                        <div class="headder">Volunteers</div>
                        <div class="bdy">Volunteers Volunteers Volunteers Volunteers Volunteers Volunteers </div>
                    </div>
                </div>
            </div>
        </div>
        <h2>TESTIMONIALS</h2>
        <div class="testimonials row">
            <div class="col-4">
                <div class="cards">
                    <div class="texts"><i>N2C is a platform for corporate ang NGOs to work together.N2C is a platform for corporate ang NGOs to work together.</i></div>
                    <div class="names">
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                        <span class="text"> - </span>
                        <span class="name"> John Doe </span>
                        <span class="text"> CEO - N2C</span>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="cards">
                    <div class="texts"><i>N2C is a platform for corporate ang NGOs to work together.N2C is a platform for corporate ang NGOs to work together.</i></div>
                    <div class="names">
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                        <span class="text"> - </span>
                        <span class="name"> Jane Doe </span>
                        <span class="text"> CEO - N2C</span>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="cards">
                    <div class="texts"><i>N2C is a platform for corporate ang NGOs to work together.N2C is a platform for corporate ang NGOs to work together.</i></div>
                    <div class="names">
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                        <span class="text"> - </span>
                        <span class="name"> Janet Smith </span>
                        <span class="text"> CEO - N2C</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>