<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer class="hm-footer">
			<div class="container">
				<div class="hm-footer-details">
					<div class="row">
						<div class="col-md-5 col-sm-12 col-xs-12">
							<div class="hm-footer-widget">
								<div class="hm-foot-title ">
									<div class="logo">
										<a href="index.html">
											<span style="color:#fff;font-size:30px;font-weight:700">N2C</span>
										</a>
									</div>
								</div>
								<div class="hm-foot-para">
									<p>
                                        N2C is a platform for corporate ang NGOs to work together. N2C is a platform for corporate ang NGOs to work together. 
                                    </p>
								</div><!--/.hm-foot-para-->
								<div class="hm-foot-icon">
									<ul>
										<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li><!--/li-->
										<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li><!--/li-->
										<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li><!--/li-->
										<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li><!--/li-->
									</ul><!--/ul-->
								</div><!--/.hm-foot-icon-->
							</div><!--/.hm-footer-widget-->
						</div><!--/.col-->
						<div class=" col-md-3 col-sm-12 col-xs-12">
							<div class="hm-footer-widget">
								<div class="hm-foot-title">
									<h4>Useful Links</h4>
								</div><!--/.hm-foot-title-->
								<div class="footer-menu ">	  
									<ul class="">
										<li><a>Home</a></li>
										<li><a>Corporate</a></li>
										<li><a>NGO</a></li>
										<li><a>Volunteer</a></li>
										<li><a>Register</a></li>
									</ul>
								</div><!-- /.footer-menu-->
							</div><!--/.hm-footer-widget-->
						</div><!--/.col-->
						<div class=" col-md-4 col-sm-12 col-xs-12">
							<div class="hm-footer-widget">
								<div class="hm-foot-title">
									<h4>Contacts</h4>
								</div><!--/.hm-foot-title-->
								<div class="para-news" style="color:#f1f1f1">
									<span>
										n2c@gmail.com
                                    </span>
									<span style="display:block">+91 99999 99999</span>
								</div><!--/.hm-para-news-->
								<div class="footer-line">
									<div class="border-bottom"></div>
								</div>
								<div class="hm-foot-title">
									<h4>Address</h4>
								</div><!--/.hm-foot-title-->
								<div class="hm-para-news" style="color:#f1f1f1">
									<span style="display:block">Ghaziabad</span>
								</div><!--/.hm-para-news-->
							</div><!--/.hm-footer-widget-->
						</div><!--/.col-->
					</div><!--/.row-->
				</div><!--/.hm-footer-details-->
			</div><!--/.container-->

</footer>