<div class="container">
    <div class="header">
        <h2>Corporate's List</h2>
    </div>
    <div class="body">
        <table>
            <thead>
                <tr>
                    <th>S.No.</th>
                    <th>Name</th>
                    <th>Loation</th>
                    <th>Industry</th>
                    <th>Email</th>
                    <th></th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ngo of ngoList; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{ngo.name}}</td>
                    <td>{{ngo.location}}</td>
                    <td>{{ngo.industry}}</td>
                    <td>{{ngo.email}}</td>
                    <td><a [routerLink]="['/corporate',ngo.id]">Details</a></td>
                    <td><span style="color:gold">&#9733; &#9733; &#9733;&#9733;</span> &#9733;  </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    
</div>